body {
	background-color: #ffffff;
	padding-top: 44px;
	overflow: scroll !important;
}
* {
	font-family: "Montserrat", sans-serif !important;
}

.button {
	width: 314px;
	padding: 15px 5px;
	color: #ffffff;
	border-radius: 7px;
	border: 2px solid #ff8400;
	background-color: #ff8400;
	transition: all 0.3s;
}
.button:hover {
	cursor: pointer;
	scale: 1.04;
}
.sign {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	input {
		width: 300px;
		padding: 15px 5px;
	}
}
.registro {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #ff8400;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	ul {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		li {
			transition: all 0.3s;
			a {
				text-decoration: none;
				color: #ffffff;
			}
		}
		li:hover {
			transition: all 0.3s;
			scale: 1.1;
		}
	}
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	input,
	textarea {
		max-width: 800px;
		margin: 10px 0;
		width: 100%;
		padding: 15px 0px 15px 10px;
		border-radius: 7px;
		border: 2px solid #000000;
	}
	textarea {
		height: 90px;
	}
	.send_button {
		width: 100%;
		padding: 15px 5px;
		color: #ffffff;
		border-radius: 7px;
		border: 2px solid #ff8400;
		background-color: #ff8400;
	}
	.cloudinary-button {
		margin: 10px 5px;
		padding: 15px 5px;
		width: calc(100% + 13px);
		border: none;
		border-radius: 7px;
		background-color: #047700 !important;
		transition: all 0.3s;
	}
	.cloudinary-button:hover {
		scale: 1.03;
	}
	.image_form {
		width: 200px;
	}
}

.cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;
	align-content: flex-start;
	padding-top: 30px;
	a {
		text-decoration: none;
		color: #000000;
	}
	.card {
		transition: all 0.3s;
		width: 280px;
		height: 480px;
		background-color: rgb(255, 255, 255);
		border-radius: 16px;
		margin: 20px 15px;
		box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
		-webkit-box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
		-moz-box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
		overflow: hidden;
		.image {
			display: flex;
			img {
				width: 100%;
				max-height: 260px;
			}
		}
		.info {
			padding: 15px;
			p {
				margin: 0px 7px 7px;
			}
			.title {
				font-size: 16px;
				font-weight: 700;
			}
			.location {
				font-size: 15px;
				font-weight: 500;
			}
			.marca {
				color: #5f5f5f;
			}
			.field {
				font-size: 10px;
			}
		}
	}
	.card:hover {
		scale: 1.07;
		text-decoration: underline;
	}
}
.simulador {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	img {
		width: 50%;
	}
	.buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.delete_button {
		width: 64px;
		height: 50px;
		border: none;
		border-radius: 7px;
		background-color: #ff5141;
		color: #ffffff;
		margin: 10px;
	}
	.clone_button {
		width: 64px;
		height: 50px;
		border: none;
		border-radius: 7px;
		background-color: #056300;
		color: #ffffff;
		margin: 10px;
	}
	.caracteristicas {
		width: 50%;
		text-align: justify;
	}
	.text {
		width: 50%;
	}
}

.modal {
	background-color: rgba(35, 35, 35, 0.674);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: -44px;
	flex-wrap: nowrap;
	min-height: 100vh;
	box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
	justify-content: center;
	position: fixed;
	.header {
		background-color: #ffffff;
		border-radius: 16px 16px 0 0;
		width: 500px;
		padding: 10px 10px 0 30px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		align-content: center;
		.button {
			background-color: transparent;
			border: none;
			padding: 3px;
			transition: all 0.3s;
			width: 40px;
			height: 40px;
		}
		.button:hover {
			scale: 1.09;
		}
	}
	.form {
		h1 {
			margin-top: 0;
		}
		z-index: 90;
		padding: 0 20px;
		position: relative;
		background-color: #ffffff;
		border-radius: 0 0 16px 16px;
	}
	& {
		width: 100%;
	}
}
