body {
  background-color: #ffffff;
  padding-top: 44px;
  overflow: scroll !important;
  margin: 0;
  transition: all 0.3s;
}
* {
  font-family: "Montserrat", sans-serif !important;
}

.button {
  width: 314px;
  padding: 15px 5px;
  color: #ffffff;
  border-radius: 7px;
  border: 2px solid #ff8400;
  background-color: #ff8400;
  transition: all 0.15s;
  font-size: 19px;
}
.button.red {
  background-color: #ff2e2e !important;
  border: solid 2px #ff2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  padding: 10px;
  svg {
    margin-right: 10px;
    font-size: 40px;
  }
}
.search_button_select {
  width: 300px;
  padding: 7px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background-color: #ff8c00;
  color: #ffffff;
  img {
    width: 50px;
    margin-right: 5px;
  }
  svg {
    font-size: 20px !important;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-align: left;
}
.result_search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.replace_inventory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 90px;
  .button {
    padding: 10px;
    width: 100%;
    margin: 10px;
  }
  .input {
    width: calc(100% - 20px);
  }
  .input_replace {
    background-color: #ff8c00;
    color: #ffffff;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
}

.button.small {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  scale: 1.04;
}
.sign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  input {
    width: 300px;
    padding: 15px 5px;
  }
}
.registro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  .inputs2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
    input {
      width: 200px;
      margin: 10px;
    }
    button {
      border: solid 0.2px #5f5f5f;
      border-radius: 8px;
      width: 40px;
      height: 40px;
    }
  }
  input {
    width: 350px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #ff8400;
  transition: all 0.3s;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    li {
      transition: all 0.15s;
      color: #ffffff;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
    li:hover {
      transition: all 0.3s;
      scale: 1.1;
    }
  }
  .button_burguer {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-right: 20px;
    transition: all 0.15s;
  }
}
@media (max-width: 1000px) {
  .navbar ul {
    display: none;
  }
  .navbar .dropdown_button {
    display: initial;
  }
  .navbar.true {
    background-color: #ff8c00c9;
    backdrop-filter: blur(16px);
    height: 100%;
    align-items: center;
    flex-direction: column-reverse;
    ul {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95% !important;
      height: 100%;
      li {
        margin-top: 20px;
        font-size: 25px;
      }
    }
    .dropdown_button {
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
    .button_burguer {
      font-size: 30px;
    }
  }
  .navbar.false {
    justify-content: flex-end;
  }
}
@media (min-width: 1000px) {
  .navbar .dropdown_button {
    display: none;
    height: 300px;
  }
}

.tooltip {
  position: absolute;
  z-index: 99999 !important;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  input,
  textarea {
    max-width: 510px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 15px 7px 15px 7px;
    border-radius: 7px;
    border: 2px solid #000000;
  }
  select {
    max-width: 510px;
    margin: 0px;
    width: 120%;
    padding: 15px 7px 15px 7px;
    border-radius: 7px;
    border: 2px solid #000000;
  }

  textarea {
    height: 90px;
    width: 350px;
  }
  .send_button {
    width: 370px;
    padding: 15px 5px;
    color: #ffffff;
    border-radius: 7px;
    border: 2px solid #ff8400;
    background-color: #ff8400;
  }
  .cloudinary-button {
    margin: 10px 5px;
    padding: 15px 5px;
    width: 370px;
    border: none;
    border-radius: 7px;
    background-color: #047700 !important;
    transition: all 0.3s;
  }
  .cloudinary-button:hover {
    scale: 1.03;
  }
  .image_form {
    width: 200px;
  }
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  .excel_button {
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #056300 !important;
      border: none;
      font-size: 16px;
      height: 40px;
      padding: 5px 5px;
      color: #ffffff;
      margin: 20px;
      svg {
        font-size: 28px;
        margin-right: 15px;
      }
    }
  }

  .searchbar {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    input {
      margin: 5px;
      width: 250px;
      padding: 10px;
      border-radius: 8px;
      border: solid 1px #595959;
    }
  }
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  align-content: flex-start;
  padding-top: 30px;
  a {
    text-decoration: none;
    color: #000000;
  }
  .card {
    transition: all 0.3s;
    width: 280px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 20px 15px;
    box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
    -webkit-box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
    -moz-box-shadow: 1px 3px 28px -1px rgba(182, 94, 0, 0.75);
    overflow: hidden;
    .image {
      display: flex;
      img {
        width: 100%;
        max-height: 260px;
      }
    }
    .info {
      padding: 15px;
      p {
        margin: 0px 7px 7px;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
      }
      .location {
        font-size: 15px;
        font-weight: 500;
      }
      .marca {
        color: #5f5f5f;
      }
      .field {
        font-size: 10px;
      }
    }
  }
  .card:hover {
    scale: 1.07;
    text-decoration: underline;
  }
}
.simulador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ff8400, transparent);
  h1 {
    color: #ffffff;
  }
  img {
    width: 50%;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .delete_button {
    width: 64px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #ff5141;
    color: #ffffff;
    margin: 7px;
    margin-top: 30px;
    min-width: 90px;
  }

  .caracteristicas {
    width: 50%;
    text-align: justify;
  }
  .text {
    width: 50%;
  }
  .agrouped_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  ol {
    padding: 0;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .input {
      max-width: 800px;
      min-width: 90px;
      width: 40%;
      margin: 10px;
      padding: 15px 0px 15px 10px;
      border-radius: 7px;
      border: 2px solid #000000;
    }
    .ok {
      width: 84px;
      min-width: 80px;
      height: 50px;
      border: none;
      border-radius: 7px;
      background-color: #056300;
      color: #ffffff;
      margin: 7px;
      margin-top: 30px;
    }
    .ok:disabled {
      background-color: #05630083;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 1000px) {
  .simulador {
    img {
      width: 90%;
      border-radius: 20px;
    }
    .caracteristicas {
      width: 90%;
    }
    .text {
      width: 90%;
    }
  }
}

.modal {
  background-color: rgba(35, 35, 35, 0.674);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
  flex-wrap: nowrap;
  min-height: 100vh;
  box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 24px 1px rgba(0, 0, 0, 0.75);
  justify-content: center;
  position: absolute;
  .header {
    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
    width: 500px;
    padding: 0px 10px 0 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    .button {
      background-color: transparent;
      border: none;
      padding: 3px;
      transition: all 0.3s;
      width: 40px;
      height: 40px;
      color: #000000;
    }
    .button:hover {
      scale: 1.09;
    }
  }
  .form {
    h1 {
      margin-top: 0;
    }
    z-index: 90;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0 0 16px 16px;
    padding-bottom: 25px;
  }
  & {
    width: 100%;
  }
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  ul,
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    select {
      height: 35px !important;
      padding: 0 7px;
      border-radius: 8px;
    }
    button {
      background-color: #ff5141;
      color: #ffffff;
      padding-top: 5px;
      border: none;
      border-radius: 8px;
      margin-left: 10px;
      height: 35px;
      transition: all 0.15s;
    }
    button:hover {
      scale: 1.05;
      color: #a2a2a2;
    }
  }
}
.prestamos {
  background: linear-gradient(180deg, #ff8400, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  .tabla_prestamos {
    width: 90%;
    td,
    tr {
      border-color: #000000;
      border-width: 2px;
      border-style: solid;
    }
  }
}
